<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="YOUR CLIENT ID"/>        
    <add key="ida:CertThumbprint" value="YOUR CERTIFICATE THUMBPRINT"/>
    <add key="ida:ClientSecret" value="YOUR APP SECRET"/>
    
    <!-- change this flag to true if you're doing certificate based auth. False if using client secret. -->
    <add key="ida:DoCertAuth" value="false"/>        
    <!-- Tenant name in format of Contoso.com or contoso.onmicrosot.com -->
    <add key="ida:TenantName" value="YOUR TENANT NAME"/>
    <add key="ida:TenantGuid" value="YOUR TENANT GUID"/>        
    <!-- Your app name. This name will appear in AIP Analytics logs -->
    <add key="app:Name" value="MIP SDK Service Principal Auth for .NET"/>
    <!-- Your app version. This will appear in AIP Analytics logs -->
    <add key="app:Version" value="1.7"/>    
  </appSettings> 
</configuration>
