<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="YOUR CLIENT ID FROM AAD APP REGISTRATION"/>    
    <add key="ida:RedirectUri" value="YOUR REDIRECT URI FROM AAD APP REGISTRATION"/>
    <add key="ida:CertThumbprint" value="YOUR CERTIFICATE THUMBPRINT"/>
    <add key="ida:ClientSecret" value="YOUR CLIENT SECRET"/>
    
    <!-- change this flag to true if you're doing certificate based auth. False if using client secret. -->
    <add key="ida:DoCertAuth" value="false"/>        
    <!-- Tenant name in format of Contoso.com or contoso.onmicrosot.com -->
    <add key="ida:Tenant" value="YOUR TENANT NAME"/>        
    <!-- Your app name. This name will appear in AIP Analytics logs -->
    <add key="app:Name" value="Test App"/>
    <!-- Your app version. This will appear in AIP Analytics logs -->
    <add key="app:Version" value="1.9.0"/>    
  </appSettings> 
</configuration>
